<!DOCTYPE html>
<html>

<head>
  <title>Help</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="../css/styles.css" />
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>{{msg}}</p>
    <div><a class="fa fa-github" href="https://github.com/anuanu0-0"> Github</a></div>
    <p></p>
    <div><a href=" https://www.linkedin.com/in/anupam-srivastava-43631716b/"> Linkedin</a></div>

  </div>
  {{>footer}}
</body>

</html>